{#
* Copyright © Magefan (support@magefan.com). All rights reserved.
* Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
#}

{% block magefan_blog_layout_article %}
    {% set shortContentLength = config('MagefanBlog.config.shortContentLength') %}
    {% set shortContentEndCharacters = config('MagefanBlog.config.shortContentEndCharacter') %}
    {% set recentDisplayPostImage = config('MagefanBlog.config.recentDisplayPostImage') %}
    <article class="blog-article">
        {# Post Item #}
        <div class="article-post">
            {# Image #}
            <div class="article-post__image-container animation-type--zoom">
                {% if recentDisplayPostImage or not sidebar %}
                    <a href="{{ app.request.basePath ~ '/blog/post/' ~ post.identifier }}" class="
                    article-post__image-wrapper
                    media
                    media--landscape
                    media--transparent
                    ">
                        {% if post.media.url %}
                            <img class="" src="{{ post.media.url }}"
                                 alt="{{ post.featuredImgAlt }}" width="{{ post.media.metaData.width }}"
                                 height="{{ post.media.metaData.height }}">
                        {% else %}
                            <img class=""
                                 src="{{ asset('bundles/magefanblog/administration/images/samples/' ~ random(1, 8) ~ '.jpeg') }}"
                                 alt="{{ post.title }}">
                        {% endif %}
                    </a>
                {% endif %}
                {% if post.postCategories.elements %}
                    <div class="article-post__category">
                        {% for category in post.postCategories.elements %}
                            <a class="article-post__category-name"
                               href="{{ app.request.basePath ~ '/blog/category/' ~ category.identifier }}"
                               title="{{ category.title }}">
                                {{ category.title }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {# END Image #}
            {# Post Info #}
            <div class="article-post__info">
                <div class="article-post__header">
                    <h2 class="article-post__title">
                        <a href="{{ app.request.basePath ~ '/blog/post/' ~ post.identifier }}">{{ post.title }}</a>
                    </h2>
                    <div class="article-post__data-wrap">
                        {% if post.postAuthor and (post.postAuthor.firstname or post.postAuthor.lastname) %}
                            <span class="article-post__author">
                                    <span>{{ post.postAuthor.firstname ~ ' ' ~ post.postAuthor.lastname }}</span>&nbsp;<span
                                        class="divider">-</span>
                                </span>
                        {% endif %}
                        <span class="article-post__data">{{ post.createdAt|date("M d,Y") }}</span>
                    </div>
                </div>
                <div class="article-post__content">
                    {% if post.contentHeading|length > shortContentLength %}
                        {{ post.contentHeading[0:shortContentLength] ~ shortContentEndCharacters }}
                    {% else %}
                        {{ post.contentHeading|raw }}
                    {% endif %}
                </div>
                <div class="article-post__footer"></div>
            </div>
            {# END Post Info #}
        </div>
        {# END Post Item #}
    </article>
{% endblock %}