{#
* Copyright © Magefan (support@magefan.com). All rights reserved.
* Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
#}

{% block blog_comment_list %}
    <sw-page>
        {% block mf_blog_comment_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                    initial-search-type="comment"
                    :initial-search="term"
                    @search="onSearch"
                />
            </template>
        {% endblock %}

        {% block mf_blog_comment_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block mf_blog_comment_list_smart_bar_header_title %}
                    <h2>
                        {% block mf_blog_comment_list_smart_bar_header_title_text %}
                            {{ $tc('blog-comment.list.title') }}
                        {% endblock %}

                        {% block mf_blog_comment_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">({{ total }})</span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            {% block mf_blog_comment_list_content %}
                <div class="sw-comment-list__content">
                    {% block mf_blog_comment_list_grid %}
                        <sw-entity-listing
                            v-if="entitySearchable"
                            ref="mfCommentGrid"
                            class="blog-comment-list__grid"
                            :items="comments"
                            :columns="commentColumns"
                            :repository="commentRepository"
                            detail-route="blog.comment.detail"
                            :show-selection="true"
                            :is-loading="isLoading"
                            identifier="mf-comment-list"
                            :allow-edit="acl.can('comment.editor')"
                            :allow-delete="acl.can('comment.deleter')"
                            :allow-inline-edit="acl.can('comment.editor')"
                            :sort-by="currentSortBy"
                            :sort-direction="sortDirection"
                            :criteria-limit="limit"
                            :disable-data-fetching="true"
                            @column-sort="onColumnSort"
                            @page-change="onPageChange"
                            @inline-edit-save="onInlineEditSave"
                            @selection-change="updateSelection"
                            @update-records="updateTotal"
                        >
                            {% block mf_blog_comment_list_grid_columns %}
                                {% block mf_blog_comment_list_grid_columns_text %}
                                    <template #column-createdAt="{item}">
                                        {{ item.createdAt|date }}
                                    </template>
                                    <template #column-updatedAt="{item}">
                                        <template v-if="item.updatedAt">
                                            {{ item.updatedAt|date }}
                                        </template>

                                        <template v-else>
                                            {{ item.createdAt|date }}
                                        </template>
                                    </template>

                                    <template #column-status="{item}">
                                        <template v-if="item.status === 0">
                                            <span class="grid-severity grid-severity-critical">
                                                <span>{{ 'Pending' }}</span>
                                            </span>
                                        </template>
                                        <template v-if="item.status === 1">
                                            <span class="grid-severity grid-severity-notice">
                                                <span>{{ 'Approved' }}</span>
                                            </span>
                                        </template>
                                        <template v-if="item.status === 2">
                                            <span class="grid-severity grid-severity-minor">
                                                <span>{{ 'Not Approved'}}</span>
                                            </span>
                                        </template>
                                    </template>
                                {% endblock %}
                            {% endblock %}
                        </sw-entity-listing>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
